<div class="content">
<h1>Our Goal</h1>
<p>Our web application is designed to allow SJSU students to buy, rent, and sell textbooks amongst each other.<br>They include the following features:<br>
<ul>
	<li> Buying and renting textbooks</li>
    <li> Selling textbooks</li>
    <li> Reading textbook reviews</li>
    <li> And many other features</li>
</ul>
</p>

<p>
	Thank you for joining our website.
</p>
<p>If you have any questions about our website, please feel free to contact us.</p>
<p> RailsCoders <br><a href="mailto:RailsCoders123456@gmail.com">Email: RailsCoders123456@gmail.com</a> 
<br>Phone number: 123-456-7890</p>
</div>
 <!-- debug -->
<p>
</p>
