<%=link_to image_tag("text_book.jpg", alt: "Text Book",size:"870x580"),"/",{:class=>'homepic'}%>
<div id="actions">
<table class=buttons>
 <tr>
    <td><button type="button">BUY & RENT</button>
    <td><button type="button">SELL</button>
    <td><button type="button">VIEW NEW RELEASES</button>
    <td><button type="button">READ REVIEWS</button>
</table>

</div>

