
  <div class="content">
    <h1>Our Goal</h1>
    <p>We want to create a web application to keep track of all events that are happening in our life.<br> They include but are not limited to:<br>
    <ul>
   	  <li> Class schedule for student</li>
        <li> Birth day of your loved ones</li>
        <li> Goals that you want to achieve</li>
        <li> And many more features to come</li>
    </ul>
    </p>
    
    
    <h2>Why would you want to join us?</h2>
    <p>
    	Life gets busy, really busy. Don't let it overwhelm you.
    </p>
    <p>Whether you just want to get ahead in life, or catch up in life. We will be there for you, every step along the way.</p>
    <!-- end .content --></div>
 
