// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepic{
  position: relative;
  top:50px;
  left:380px;
  z-index: -1;
}
.buttons{ 
  position:relative;
  left:384px;
  top:-36px;
  table-layout: fixed;
  border-collapse: collapse;
}
.buttons button{ 
  height:70px;
  width: 205px;
  background-color:#01B1AF;
  color:white;
}
.buttons button:hover{
	background-color: #007B9A;
}
